.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(150, 153, 154);
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px !important;
    text-align: center;
  }
  @import url('https://fonts.googleapis.com/css?family=Allura');

.footer {
  background:#6d695c;
  /* margin:0 auto; */
  /* position:relative; */
  /* padding:70px 0px; */
  /* transform:scale(0.8); */
  font-family: 'Allura', cursive;
  color:#fff;
background-image:
repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
}

#spoon, #knife, #fork {
  display:inline-block;
  margin-top:12vh;
  margin-right:5vw;
  margin-left:5vw;
}

#spoon {
  transform:rotate(30deg);
  border:10px solid transparent;
  border-bottom:90px solid #fff;
  background:#fff;
  width:0px;
  border-radius:10px;
  border-bottom-left-radius:15px 30px;
  border-bottom-right-radius:15px 30px;
  border-top-left-radius:15px 150px;
  border-top-right-radius:15px 150px;
}

#spoon:after {
  content:'';
  position:absolute;
  top:-80px;
  left:-31px;
  width:60px;
  height:80px;
  border-radius:50%;
  background:#fff;
}






#knife {
  transform:rotate(30deg);
  border:10px solid transparent;
  border-bottom:100px solid #fff;
  background:#fff;
  width:0px;
  border-radius:10px;
  border-bottom-left-radius:15px 30px;
  border-bottom-right-radius:15px 30px;
  border-top-left-radius:15px 150px;
  border-top-right-radius:15px 150px;
}

#knife:after {
  content:'';
  position:absolute;
  top:-80px;
  left:-18px;
  width:26px;
  height:100px;
  border-top-right-radius:15px;
  border-bottom-right-radius:0px;
  border-top-left-radius:50px 150px;
  border-bottom-left-radius:10px;
  background:#fff;
}






#fork {
  transform:rotate(30deg);
  border:10px solid transparent;
  border-bottom:105px solid #fff;
  background:#fff;
  width:0px;
  border-radius:10px;
  border-bottom-left-radius:15px 30px;
  border-bottom-right-radius:15px 30px;
  border-top-left-radius:15px 150px;
  border-top-right-radius:15px 150px;
}

#fork:after {
  content:'';
  position:absolute;
  top:-70px;
  left:-20px;
  width:8px;
  height:60px;
  border-radius:50%;
  background:#fff;
  box-shadow:10px 0px #fff,20px 0px #fff,30px 0px #fff;
}


#fork:before {
  content:'';
  position:absolute;
  top:-35px;
  left:-18px;
  width:35px;
  height:40px;
  border-radius:0% 0% 50% 50%;
  background:#fff;
}

.footer h1 {
  /* position:absolute; */
  top:60vh;
  font-size:60px;
  font-weight:normal;
  width:100%;
  border-top:1px solid #aaa;
  padding-top:20px;
}


