.Home img{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.text{
    text-align: center;
    background-color: bisque;
    text-decoration:underline;
}